<launch>
    <!-- updates paths to Python dependencies (virtualenv created during the compilation) -->
    <env name="PYTHONPATH" value="$(find cadrl_ros)/.venv/lib/python2.7/site-packages:$(optenv PYTHONPATH)"/>
    <!-- NOTE: the 'site-packages' part helps with netifaces module not being found -->
    <env name="PATH" value="$(find cadrl_ros)/.venv/bin:$(find cadrl_ros)/.venv/lib/python2.7/site-packages:$(optenv PATH)"/>

    <!-- preferred speed -->
	<arg name="robot_speed" default="1.2"/>
    <!-- maximum angular velocity -->
    <arg name="max_rot_vel" default="1.0"/>
    <!-- robot radius -->
    <arg name="robot_radius" default="0.5"/>
    <!-- position tolerance to consider the goal as reached -->
    <arg name="goal_tolerance" default="0.3"/>
    <!-- namespace of the planner node -->
    <arg name="node_namespace" default="/JA01"/>

    <!-- exposed topic configuration -->
    <!-- related to publishers -->
    <arg name="cmd_vel_topic" default="nn_cmd_vel" />
    <arg name="marker_topic_ns" default="" />
    <!-- related to subscribers -->
    <arg name="global_pose_topic" default="pose" />
    <arg name="vel_topic" default="velocity" />
    <arg name="safe_actions_topic" default="local_path_finder/safe_actions" />
    <arg name="planner_mode_topic" default="planner_fsm/mode" />
    <arg name="goal_topic" default="move_base_simple/goal" />
    <arg name="pedestrian_clusters_topic" default="cluster/output/clusters" />
    <!-- unused alternative to 'pedestrian_clusters_topic' (see 'self.use_clusters' in the node) -->
    <arg name="pedestrians_topic" default="ped_manager/ped_recent" />

    <!-- Launch neural net ros wrapper -->
    <node pkg="cadrl_ros" type="cadrl_node.py" name="cadrl_node" output="screen" ns="$(arg node_namespace)">
        
        <!-- Publications -->
        <remap from="~other_vels" to="other_vels"/> <!-- seems to be deprecated -->
        <remap from="~nn_cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="~pose_marker" to="$(arg marker_topic_ns)/pose_marker"/>
        <remap from="~path_marker" to="$(arg marker_topic_ns)/path_marker"/>
        <remap from="~goal_path_marker" to="$(arg marker_topic_ns)/goal_path_marker"/>
        <remap from="~agent_marker" to="$(arg marker_topic_ns)/other_agents_marker"/>
        <remap from="~agent_markers" to="$(arg marker_topic_ns)/other_agents_markers"/> <!-- seems to be deprecated -->
        
        <!-- Subscriptions -->
        <remap from="~pose" to="$(arg global_pose_topic)"/>
        <remap from="~velocity" to="$(arg vel_topic)"/>
        <remap from="~safe_actions" to="$(arg safe_actions_topic)"/>
        <remap from="~planner_mode" to="$(arg planner_mode_topic)"/>
        <remap from="~goal" to="$(arg goal_topic)"/>
        <remap from="~clusters" to="$(arg pedestrian_clusters_topic)"/>
        <remap from="~peds" to="$(arg pedestrians_topic)"/>
        
        <!-- Parameters -->
        <param name="~jackal_speed" value="$(arg robot_speed)"/>
        <param name="~max_rot_vel" value="$(arg max_rot_vel)"/>
        <param name="~jackal_radius" value="$(arg robot_radius)"/>
        <param name="~goal_tolerance" value="$(arg goal_tolerance)"/>

    </node>
</launch>
